NODE_ENV=development
PORT=5001
API_PREFIX=/api/v1
DATABASE_URL="file:./round2.db"
SIMULATOR_TARGET_URL=http://localhost:5001/api/v1/telemetry
SIMULATOR_VEHICLE_ID=vehicle-real-time-001
SIMULATOR_CONTROL_VEHICLE_ID=vehicle-live-control-002
SIMULATOR_CONTROL_PORT=5055
SIMULATOR_MIN_INTERVAL_SECONDS=20
SIMULATOR_MAX_INTERVAL_SECONDS=30
